h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------HEADER----------- */

.header {
  border-bottom: 1px solid var(--lightgrey-color);
}

.header .container {
  display: flex;
}

.header .container > * {
  align-items: center;
}

.header__nav {
  display: flex;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__navlist {
  display: flex;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--superblack-color);
  margin-right: 93px;
}

.logo--blue {
  color: var(--accent-color);
}

.nav-item {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.header__navitem:not(:last-child) {
  margin-right: 50px;
}

.header__navlink {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__contlink {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.header__navlink.current {
  color: var(--accent-color);
}

.header__contitem + .header__contitem {
  margin-left: 50px;
}

.current::after {
  position: relative;
  bottom: -31px;
  right: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__conticon {
  margin-right: 10px;
  fill: currentColor;
}

.accent-link {
  transition: color 250ms var(--cubic);
}

.accent-link:hover,
.accent-link:focus {
  color: var(--accent-color);
}

/* ------HERO-------- */

.hero {
  background-color: var(--light-bg-color-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.btn-order {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--cubic);
}

.btn-order:hover,
.btn-order:focus {
  background-color: #188ce8;
}

/* ------BENEFITS-------- */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__item {
  width: 270px;
}

.benefits__itemplate {
  width: 270px;
  height: 120px;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.benefits__list {
  display: flex;
}

.benefits__title {
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  line-height: 1.71;
  color: var(--grey-color);
}

/* ---------SERVICES---------- */

.services {
  padding-bottom: 94px;
}

.services__list {
  display: flex;
}

.services-title {
  margin-bottom: 50px;
}

.services__item:not(:first-child) {
  margin-left: 30px;
}

.services__item {
  position: relative;
}

.services__text {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 27px;
  padding-bottom: 27px; */
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

/* -----------TEAM------------ */

.team {
  background-color: var(--light-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.team-title {
  margin-bottom: 50px;
}

.cards__item {
  background-color: var(--white-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cards__item:not(:first-child) {
  margin-left: 30px;
}

.cards__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.cards__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.cards__social-list {
  display: flex;
  justify-content: center;
}

.cards__social-item {
  width: 44px;
  height: 44px;
}

.cards__social-item:not(:first-child) {
  margin-left: 10px;
}

.cards__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-color: transparent;
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.cards__social-link:hover,
.cards__social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* ----------CLIENTS------------ */

.clients__list {
  display: flex;
  margin-top: 50px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ------PORTFOLIO-PAGE--------- */
/* ------CATALOG-FILTER-------- */

.filter__btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  background-color: var(--btngrey-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------CATALOG------------ */

.catalog {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.catalog__item {
  margin-left: 30px;
  margin-top: 30px;
}

.catalog__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.catalog__link:hover,
.catalog__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog__link:hover .catalog__hiddentext {
  transform: translateY(0);
}

.catalog__link:focus .catalog__hiddentext {
  transform: translateY(0);
}

.catalog__img-box {
  /* display: block;
  width: 100%;
  height: 100%; */
  position: relative;
  overflow: hidden;
}

.catalog__hiddentext {
  position: absolute;
  top: 0;

  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--card-bg-color);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.catalog__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--lightgrey-color);
  border-top: none;
}

.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  /* margin-top: 20px; */
  margin-bottom: 4px;
}

.catalog__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

/* ------FOOTER-------- */

.footer {
  background-color: var(--grey-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  display: block;
  margin-bottom: 20px;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address {
  font-style: normal;
}

.footer__address-text {
  line-height: 1.71;
  color: var(--white-color);
}

.footer__address-link {
  line-height: 1.71;
  color: var(--opacityblack-color);
}

.footer__socials {
  margin-left: 70px;
}

.footer__socials-call {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__social-item:not(:first-child) {
  margin-left: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: background-color 250ms var(--cubic);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__sign {
  margin-left: auto;
}

.footer__sign-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__sign-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 15px;
  font-size: 18px;
  color: var(--white-color);
  outline: none;
  transition: border-color 250ms var(--cubic);
}

.footer__sign-input:focus,
.footer__sign-input:hover {
  border-color: var(--accent-color);
}

.footer__sign form {
  display: flex;
}

.footer__btn {
  cursor: pointer;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  margin-left: 12px;
  padding: 10px 29px;
  border-radius: 4px;
  border: none;

  display: flex;

  transition: background-color 250ms var(--cubic);
}

.footer__btn-icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.footer__btn:hover,
.footer__btn:focus {
  background-color: #188ce8;
}

/* -------------MODAL, BACKDROP-------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  position: fixed;
  left: 0;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__item:nth-child(5) {
  margin-bottom: 20px;
}

.modal__item label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  margin-bottom: 4px;
}

.modal__item input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic);
  cursor: pointer;
}

.modal__item input:focus,
.modal__item input:hover {
  border-color: var(--accent-color);
}

.modal__item input:focus + svg,
.modal__item input:hover + svg {
  fill: var(--accent-color);
}

.modal__input-box {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.modal__item textarea {
  height: 120px;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--cubic);
  cursor: pointer;
}

.modal__item textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__item textarea:focus,
.modal__item textarea:hover {
  border-color: var(--accent-color);
}

.modal__privacy {
  margin-bottom: 30px;
}

/* -------------CHECKBOX-------------- */

.modal__check-box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  transition: border-color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.modal__check-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__privacy-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal__checkin:checked + .modal__check-text span {
  background-color: #188ce8;
  border-color: transparent;
}

/* -------------MODAL-BTN-------------- */
.modal__btn-subm {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms var(--cubic);
}

.modal__btn-subm:hover,
.modal__btn-subm:focus {
  background-color: #188ce8;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;

  transition: fill 250ms var(--cubic);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
}
